@import './utilities/fonts';

.hide-scroll {
  overflow: hidden;
}

.popup-container {
  display: none;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.5);
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup-body {
  background-color: rgb(22, 21, 21);
  margin: 5% 10%;
  position: relative;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: $robotoRegular;
}

.info-cont {
  display: flex;
  margin: 2rem 0 3rem 0;
  padding: 0 10%;
  gap: 10%;
}

.info-movie {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.img-poster {
  width: 25vw;
  margin-top: 2.5vh;
  border: 5px solid #fff;
}

.close-pop {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}

.close-img {
  width: 30px;
  height: 30px;
}

.pop-title {
  margin: 3vh 0;
  font-size: 3vw;
  text-align: center;
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

b {
  font-weight: bold;
}

.summary {
  margin-top: 3vh;
}

.subtitle {
  font-size: 2.2vw;
  font-weight: bold;
  margin-bottom: 2vh;
}

.comment-list {
  margin-bottom: 2vh;
  max-width: 75%;
  max-height: 500px;
  overflow: auto;
  min-width: 40%;
}

.li-pop {
  margin-bottom: 2vh;
  word-wrap: break-word;
  line-height: 1.4rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 40%;
}

.input-data {
  border: 1px solid #000;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  font-family: $robotoRegular;
}

.sub-btn {
  background-color: #1d698c;
  border: none;
  padding: 12px 0;
  font-family: $robotoRegular;
  color: white;
  align-self: stretch;
  font-size: 1rem;
  cursor: pointer;
}

.sub-btn:hover {
  background-color: rgb(42, 140, 185);
}
