@import './utilities/fonts.scss';

#showList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40px;
  padding-top: 66px;
  padding-bottom: 40px;
  background-color: rgb(3, 3, 3);

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: rgb(22, 21, 21);
    width: 315px;

    * {
      font-family: $robotoRegular;
      color: white;
    }

    :nth-child(1) {
      margin-bottom: 8px;      
    }

    .showImg {
      width: 315px;
      height: 450px;
    }

    .showTitle {
      font-size: 25px;
      text-align: center;
    }

    .likeButton {
      background: url('./images/emptyHeart.png');
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center;
      border: 0;
      padding: 20px;
      cursor: pointer;
    }

    .likeButton:disabled {
      background-image: url('./images/fullHeart.png');
    }

    .showLikes {
      font-size: 18.5px;
    }

    .commentButton {
      font-size: 17.5px;
      background-color: #1d698c;
      border: none;
      align-self: stretch;
      padding: 12px 0;
      cursor: pointer;
    }

    .commentButton:hover {
      background-color: rgb(42, 140, 185);
    }
  }

  li:hover {
    transform: scale(1.03);
  }
}
